<header>
  <nav>
    <ul class="d-sm-flex flex-row flex-sm-nowrap">
        <li *ngFor = "let link of links" class="d-inline-block flex-sm-fill mr-1 ml-1">
          <a routerLink="/{{link.fragment}}" class="bd-highlight" 
          routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true}">{{link.title}}</a>
      </li>
      <li class="d-inline-block flex-sm-fill mr-1 ml-1">
        <a class="bd-highlight" (click)="logOut()">Logout</a>
      </li>
    </ul>
  </nav>
  <span>notepad</span>
</header>
<main >
  <router-outlet></router-outlet>
</main>
<footer>

</footer>